/* ==============================
/* タブボタンの設定
/* ============================== */

/* タブバー部分の設定 */
.tab-wrap {
  	background: White; /* 背景色 */
  	/*width: 1000px; /* コンテナの最大幅を指定 */
  	width:100%;
  	min-width: calc(100vw - 10px*2);
	display: flex; /* タブを横並びに */
	flex-wrap: wrap; /* 幅に応じて折り返し */
	padding: 0 0 20px; /* タブの内側余白 */
  	gap: 0 5px; /* タブ間の余白 */
  	margin: auto; /* コンテナの中央寄せ */
  	/*overflow: visible;*/
}

.tab-wrap::before {
	content: '';
	height: 0;
	order: 1; /* コンテンツより下に表示 */
	width: 100%;
}

/* ボタンとコンテンツ間の余白調整用 */
.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1; /* コンテンツより上に表示 */
	width: 100%;
}

/*ラジオボタンの非表示設定*/
.tab-switch {
	display: none; /* 実際のラジオボタンは非表示 */
}

/* 各タブボタンのスタイル設定 */
.tab-button {
  	--active-tab-color:#757F96; /*選択したタブの色*/  
  	cursor: pointer;/* ホバー時にポインター表示 */
	flex: 1 1 auto; /* タブが均等に幅をとる */
  	order: -1; /* コンテンツより上に表示 */
	padding: .7em 1em; /* タブの内側余白 */
 	border-bottom:1px solid var(--active-tab-color); /* タブの下線 */
 	position: relative; /* ::beforeの絶対位置指定に使用 */
	text-align: center; /* テキストを中央揃え */
	font-family:"Oswald";
	font-size: large;
	font-weight: bold; /* 文字を太字に */
  	color: var(--active-tab-color); /* タブの文字色 */   
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s; /*変化を滑らかに*/
	user-select: none; /* テキストの範囲選択禁止 */ 
	white-space: nowrap; /* 半角スペース、タブ、改行をまとめる。自動折り返しなし */
	-webkit-tap-highlight-color: transparent; /* リンクの強調をなくす */
}

/* タブのホバーおよび選択時の色 */
.tab-button:hover,
.tab-switch:checked + .tab-button{
    background-color: var(--active-tab-color); /* ホバー/選択時の背景色 */
    color: #fff; /* ホバー/選択時の文字色 */
}


/* ==============================
/* 全体の設定
/* ============================== */
body {
	background: WhiteSmoke;
	font-family: sans-serif;
	font-size: medium;
	margin: 10px;
}

* {
	box-sizing: border-box;
}

/* ==============================
/* 幅と高さの設定
/* ============================== */

.tab-container,
.tab-content {
	max-width: calc(100vw - 10px*2);
	/*width: 600px;*/
  width: 100%;
}

.tab-container {
	/*box-shadow: 0 0 5px rgba(0,0,0,.1);*/
  overflow: hidden;
	overflow-x: auto;
	position: relative;
}
