/* ==============================
/* タブボタンの設定
/* ============================== */

/* タブバー部分の設定 */
.tab-wrap {
	background: White; /* 背景色 */
	/*width: 1000px; /* コンテナの最大幅を指定 */
	/*min-width:100%; /* 横幅の最小値は画面幅＝大きい画面は画面に合わせる */
	/*width: max-content; /* 横幅は内容に合わせる */
	display: flex; /* タブを横並びに */
	flex-wrap: wrap; /* 幅に応じて折り返し */
	padding: 0 0 20px; /* タブの内側余白 */
	gap: 0 5px; /* タブ間の余白 */
	margin: auto; /* コンテナの中央寄せ */
	/*overflow: visible;*/
}

.tab-wrap::before {
	content: '';
	height: 0;
	order: 2; /* コンテンツを下に表示 */
	width: 100%;
}

/* ボタンとコンテンツ間の余白調整用 */
.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1; /* コンテンツより上に表示 */
	width: 100%;
}

/*ラジオボタンの非表示設定*/
.tab-switch {
	display: none; /* 実際のラジオボタンは非表示 */
}

/* 各タブボタンのスタイル設定 */
.tab-button {
	--active-tab-color:#757F96; /*選択したタブの色*/  
	cursor: pointer;/* ホバー時にポインター表示 */
	flex: 1 1 auto; /* タブが均等に幅をとる */
	order: -1; /* コンテンツより上に表示 */
	padding: .7em 1em; /* タブの内側余白 */
	border-bottom:1px solid var(--active-tab-color); /* タブの下線 */
	position: relative; /* ::beforeの絶対位置指定に使用 */
	text-align: center; /* テキストを中央揃え */
	font-weight: bold; /* 文字を太字に */
	font-size: 150%!important; /* 文字を大きく */
	color: var(--active-tab-color); /* タブの文字色 */   
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s; /*変化を滑らかに*/
	user-select: none; /* テキストの範囲選択禁止 */ 
	white-space: nowrap; /* 半角スペース、タブ、改行をまとめる。自動折り返しなし */
	-webkit-tap-highlight-color: transparent; /* リンクの強調をなくす */
}

#TAB02-03::after{
	width:100%;
}

:nth-child(-n + 3 of tab-button) {
	content: '';
	width: 100%;	
	order:1;
}

/* タブのホバーおよび選択時の色 */
.tab-button:hover,
.tab-switch:checked + .tab-button{
    background-color: var(--active-tab-color); /* ホバー/選択時の背景色 */
    color: #fff; /* ホバー/選択時の文字色 */
}

/* タブの三角形が左右に動く仕組み */
  /* 1.アクティブなタブより前のボタン */
  .tab-button::after {
	  position: absolute; /* 三角形をタブ内の特定位置に配置 */
	  bottom: -8px; /* 三角形をタブの下に表示 */
	  left: 50%; /* 中央寄せの調整 */
	  width: 18px; /* 三角形の幅 */
	  height: 9px; /* 三角形の高さ */
	  background-color: var(--active-tab-color); /* 三角形の背景色 */
	  content: ''; /* 擬似要素の内容（空） */
	  clip-path: polygon(0 0, 100% 0, 50% 100%); /* 三角形の形状を作成 */
	  opacity: 0; /* 透明度を透明に。フェード用 */
	  display: block;
	  transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;  /*変化を滑らかに*/
	  transform: translateX(100%);  /*ヌルヌル動かす用*/
	  z-index: 1
  }
  /* 2.アクティブなタブより後のボタン(アクティブなタブ含む) */
  .tab-switch:checked ~ .tab-button::after {
    transform: translateX(-150%); /*ヌルヌル動かす用*/
  }
  /* 3.アクティブなタブのボタン */
  .tab-switch:checked + .tab-button::after {
    opacity: 1; /* 透明度を不透明に。フェード用 */
    transform: translateX(-50%);/* 三角形の中央位置調整 */
  }

/* ==============================
/* コンテンツエリアの設定
/* ============================== */
/* コンテンツエリアのスタイル設定 */
  .tab-content {
	  font-size: 100%!important; /* 文字を標準に */
	  padding: 0 20px;
	  width: 100%;
	  left:0;
	  position: -webkit-sticky;
	  position: sticky; /* コンテンツエリアの位置を固定 */
  }
/* コンテンツが左右に動く仕組み */
  /* 1.アクティブなタブより前のコンテンツ */
  .tab-content {
    height:0; /* 非表示にするために高さを0に */
    opacity:0; /* 透明度を透明に。フェード用 */
    pointer-events:none; /* 誤動作防止 */
    transform: translateX(-50%); /*ヌルヌル動かす用*/
    transition: transform .3s 80ms, opacity .3s 80ms;  /*変化を滑らかに*/
  }

/* 2.アクティブなタブより後のコンテンツ(アクティブなタブ含む) */
  .tab-switch:checked ~ .tab-content {
    /*transform: translateX(30%); /*ヌルヌル動かす用*/
  }
  /* 3.アクティブなタブのコンテンツ */
  .tab-switch:checked + .tab-button + .tab-content {
	  height: auto; /* 内容に合わせて高さを調整 */
	  opacity: 1; /* 透明度を不透明に。フェード用 */
	  order: 2; /* 並び順を最後尾へ */
	  pointer-events:auto; /* 誤動作防止の解除 */
	  transform: translateX(0); /*ヌルヌル動かす用*/
  }


/* ==============================
/* 全体の設定
/* ============================== */
body {
	background: WhiteSmoke;
	font-family: sans-serif;
	margin: 10px;
}

* {
	box-sizing: border-box;
}

/* ==============================
/* 幅と高さの設定
/* ============================== */

.tab-container,
.tab-content {
	max-width: calc(100vw - 10px*2);
	/*width: 600px;*/
	width: 100%;
}

.tab-container {
	/*box-shadow: 0 0 5px rgba(0,0,0,.1);*/
	overflow: hidden;
	overflow-x: auto;
	position: relative;
	min-width:100%; /* 横幅の最小値は画面幅＝大きい画面は画面に合わせる */
	width: max-content; /* 横幅は内容に合わせる */
}


/* ==============================
/* 地図の設定
/* ============================== */
/*    body {
	margin: 0;
    }*/
    #map-wrapper {
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	touch-action: none;
    }
    #map-inner {
	position: absolute;
	top: 0;
	left: 0;
    }
    #map {
	width: 100%;
	height: auto;
	display: block;
    }

    .marker {
	position: absolute;
	width: 32px;
	height: 32px;
	transform: translate(-50%, -100%);
	z-index: 10;
	cursor: pointer;
    }

    .popup {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 6px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	z-index: 20;
	transform: translate(-50%, -110%);
	display: none;
	width: 160px;
    }

    .popup img.logo {
	width: 100%;
	height: auto;
	border-radius: 4px;
    }

    .popup a {
	display: block;
	margin-top: 4px;
	text-align: center;
	text-decoration: none;
	color: #007bff;
	font-size: 14px;
    }
